<!-- ***************************************
TEMPLATE: Contact Card
*************************************** -->
<div class="card-grid">
    <nb-flip-card>
        <nb-card-front>
            <!-- CARD FRONT -->
            <nb-card *ngFor="let contact of contactsData" class="animated fadeInUp">
                <nb-card-header class="contact-card-header">
                    <h5>{{contact.FirstName}} {{contact.LastName}}</h5>
                </nb-card-header>
                <nb-card-body>
                    <p><strong>{{phoneNumberCaption}}</strong>: {{contact.Phone}}</p>
                    <p><strong>{{emailAddressCaption}}</strong>: {{contact.Email}}</p>
                </nb-card-body>
                <nb-card-footer>
                    <div class="d-flex flex-row justify-content-between w-100">

                        <button style="opacity: 0" disabled="true" size="small" status="danger" hero nbButton>
                    DELETE<nb-icon icon="trash-2-outline"></nb-icon>
                </button>

                        <button size="small" status="success" outline nbButton>
                    EDIT<nb-icon icon="edit-outline"></nb-icon>
                </button>

                    </div>
                </nb-card-footer>
            </nb-card>
        </nb-card-front>
        <!-- CARD BACK -->


    </nb-flip-card>
</div>