/*
    CONTACT CARD STYLES
*/

.card-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2vw;
}

@media only screen and (max-width:1000px) {
    .card-grid {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width:750px) {
    .card-grid {
        grid-template-columns: auto;
    }
}

// .contact-card-header {
//     background: #2C90FA;
//     h5 {
//         color: white;
//     }
// }
.flip-button {
    display: none !important;
}

.data-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    p {
        text-align: center;
        font-size: 2em;
    }
    // span {
    //     font-size: 4em
    // }
    // .dot1 {
    //     animation-duration: 4s;
    //     animation-delay: 0s;
    //     animation-iteration-count: infinite;
    //     animation-direction: alternate;
    // }
    // .dot2 {
    //     animation-duration: 4s;
    //     animation-delay: 1s;
    //     animation-iteration-count: infinite;
    //     animation-direction: alternate;
    // }
    // .dot3 {
    //     animation-duration: 4s;
    //     animation-delay: 2s;
    //     animation-iteration-count: infinite;
    //     animation-direction: alternate;
    // }
}

.first-name-last-name-elements,
.phone-email-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    
        padding: 5px 0;
    

}

.display-edit{
    opacity: 1;
}

.hide-edit{
    opacity:0;
}