/*
    CONTACT CARD STYLES
*/

.card-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2vw;
}

@media only screen and (max-width:1000px) {
    .card-grid {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width:750px) {
    .card-grid {
        grid-template-columns: auto;
    }
}

// .contact-card-header {
//     background: #2C90FA;
//     h5 {
//         color: white;
//     }
// }
.flip-button {
    display: none !important;
}