<nb-layout>

    <nb-layout-column>
        <div class="app-login-card">
            <nb-card>
                <nb-card-header class="card-background-color">
                    <h1 class="app-title-1 text-center">{{appName}}</h1>
                </nb-card-header>
                <nb-card-body>


                    <div class="text-center">
                        <small>a demo app by</small>
                        <h4 class="author-text">Cliff Crerar</h4>
                    </div>

                    <div class="text-center">
                        <img class="img-fluid" src="https://cdn-cloudflare.ga/assets/own-logo/logotiny.png" alt="app-logo">
                    </div>

                </nb-card-body>
                <nb-card-footer class="text-center">
                    <button routerLink="/app" nbButton (click)="enterSetCookie()">
                        
                    Enter<nb-icon icon="play-circle-outline"></nb-icon>
                    </button>
                </nb-card-footer>
            </nb-card>
        </div>
        <bg-author></bg-author>
    </nb-layout-column>
    <nb-layout-footer fixed>
        <!-- Insert footer here -->
        <div class="d-flex justify-content-between w-100">
            <div>
                <a href="mailto:cliff.crerar@gmail.com">{{supportLink}}</a>
            </div>
            <div>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </nb-layout-footer>
</nb-layout>