/*
    MAIN COMPONENT STYLES
*/

.collapse-btn-style {
    font-size: 20em;
}

.main-app-header {
    background: linear-gradient(140deg, rgba(117, 231, 156, 1) 0%, rgba(109, 216, 145, 1) 100%);
    color: white;
}