<nb-layout>

    <nb-layout-header fixed>
        <!-- Insert header here -->
        <div class="d-flex flex-row justify-content-between w-100">
            <div>
                <h1 class="app-title-1 text-center m-0">{{appName}}</h1>
            </div>
            <div>
                <button nbButton>Settings</button>
            </div>
        </div>

    </nb-layout-header>

    <!-- Sidebar -->
    <nb-sidebar>
        <div>
            <button nbButton appearance="ghost" size="large" shape="round">
                <!-- <nb-icon [ngClass]="collapseBtnClass" [icon]="sideBarToggleBtn"></nb-icon> -->
            </button>
        </div>
    </nb-sidebar>

    <!-- Layout Header -->
    <nb-layout-header subheader>

    </nb-layout-header>

    <!-- Main Layout Section -->
    <nb-layout-column>
        <h1>Phone Book</h1>
    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
    </nb-layout-footer>

</nb-layout>