/*
    APP COMPONENT STYLES
*/

.underlay-container {
    position: absolute;
}

.underlay {
    position: fixed !important;
    overflow: hidden !important;
}

.underlay img {
    width: auto;
    min-width: 1440px;
}