<!-- ***************************************
TEMPLATE: New Contact Card
*************************************** -->
<ng-template #display>
    <nb-card class="mt-5 animated slideInLeft" [ngIf]="display">
        <nb-card-header class="text-center">
            New Contact
        </nb-card-header>
        <nb-card-body>
            <input *ngFor="let row of formDefinition" name="{{row.name}}" class="new-input" status="info" type="text" nbInput fullWidth fieldSize="medium" placeholder="{{row.placeholder}}">
        </nb-card-body>
        <nb-card-footer class="d-flex flex-row-reverse justify-content-between">
            <button nbButton size="small" hero status="success">
            <nb-icon icon="plus-outline"></nb-icon>
        </button>
            <button nbButton size="small" hero status="warning">
            <nb-icon icon="slash-outline"></nb-icon>
        </button>
        </nb-card-footer>
    </nb-card>
</ng-template>